* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
}

.logo-container img {
  width: 150px;
  margin-bottom: 10px;
}

h1 {
  font-size: 48px;
  margin: 10px 0;
}

p {
  font-size: 20px;
  margin: 5px 0;
  color: gray;
}

.content-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
}

